<!-- Navigation -->

<nav class="navbar navbar-custom navbar-fixed-top" id="home-nav" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>

      <!-- <a class="navbar-brand page-scroll" target="blank" href="https://c4sr.columbia.edu">Center for Spatial Research</a> -->
    </div>
<!-- Collect the nav links, forms, and other content for toggling -->

    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
        <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#about">About</a>
        </li>
        <li>
          <a class="page-scroll" href="#project">Case Studies</a>
        </li>
        <li>
        <a class="page-scroll" href="#team">Team</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Intro Header if we need a background image that is full page width -->

<!-- 
<header class="intro">
  <div id="dia-container" class="intro-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <p class="intro-body">Research Towards<br>a New Politics of Care </p>
          <a href="#about" class="intro-body">
<img src="/summer2020_research/images/arrow-01.svg" class="down-arrow" />
          </a>
        </div>
      </div>
    </div>
  </div>
</header> -->